/* Pour que le body et html prennent 100% de la hauteur */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Conteneur principal */
.container {
    display: flex;
    width: 100%;
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
    flex-wrap: nowrap; /* Évite de passer à la ligne pour les grands écrans */
}

/* Centrage des éléments dans le premier bloc */
.firstElement {
    background-color: #0B4678;
    width: 50%; /* Prend 50% de la largeur sur les grands écrans */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

/* Centrage du contenu */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Logo */
.logo img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Image de fond */
.bg-image img {
    max-width: 100%;
    height: auto;
}

/* Centrage des éléments dans le second bloc */
.secondElement {
    background-color: #1976D2;
    width: 50%; /* Prend 50% de la largeur sur les grands écrans */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

/* Centrage du contenu dans secondElement */
.form {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Prend toute la largeur disponible */
    max-width: 280px;
    text-align: center;
}

/* Formulaire */
.global-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-group {
    margin-top: 20px;
  text-align: left;
  
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
   
}

button {
    margin-top: 20px;
    padding: 10px;
    width: 100px;
    background-color: #1976D2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #145a8c;
}

/* Texte sous le formulaire */
h3 {
    color: white;
    margin-top: 20px;
}

/* Media Queries pour petits écrans */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Empile les éléments verticalement sur petits écrans */
    }

    .firstElement, .secondElement {
        width: 100%; /* Prend toute la largeur sur petits écrans */
        max-width: 100%; /* S'assure qu'il ne dépasse pas la largeur de l'écran */
    }

    h1 {
        font-size: 20px; /* Réduit la taille du texte pour les petits écrans */
    }
}
